.wrapper {
    z-index: 1;
    position: relative;
}
img {
    z-index: 2;
    position: absolute;
}
.line {
    position: relative;
    z-index: 3;
    min-height: 394px;
    max-height: 394px;
    min-width: 2000px;
    max-width: 2000px;
}
.square {
    display:inline-block;
    position: relative;
    z-index: 4;
    min-height: 394px;
    max-height: 394px;
    min-width: 495px;
    max-width: 495px;
}
#01 {
    top: 820px;
}
#02 {
    top: 1262px;
}
#03 {
    top: 1702px;
}